:root {
    --vsr-grip-color : lightgray;
    --vsr-grip-hover-color : #bbb8b5;
    --vsr-grip-active-color : #8f8d8b;    
}

.vsr--container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.vsr--view {
    flex-grow: 1;
    display: flex;
    position: relative;
}

.vsr--container.vsr--horizontal {
    flex-direction: column;
}

.vsr--view >:first-child {
    flex-grow: 1;
    user-select: none;
}

.vsr--splitter {
    flex: 0 0 6px;
    cursor: ew-resize;
    user-select: none;
    background-color: var(--vsr-grip-color);
    transition: background-color 0.4s;
    position: relative;
}

.vsr--vertical-grip {
    position: absolute;
    top: 0px;
    left: -50px;
    right: -50px;
    bottom: 0px;
    z-index: 1000;
}

.vsr--horizontal-grip {
    position: absolute;
    top: -50px;
    left: 0px;
    right: 0px;
    bottom: -50px;
    z-index: 1000;
}

.vsr--splitter:hover {
    background-color: var(--vsr-grip-hover-color);
}

.vsr--splitter:active {
    background-color: var(--vsr-grip-active-color);
}

.vsr--container.vsr--horizontal .vsr--splitter {
    cursor: ns-resize;   
}

.vsr--container.vsr--horizontal .vsr--container .vsr--splitter {
    cursor: ew-resize;   
}

.vsr--overlay {
    flex-grow: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}