.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.first {
    background-color: burlywood;
}

.second {
    background-color: lightskyblue;
}

.third {
    background-color: chartreuse;
}